extends  ./layout/index 

block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, quod commodi possimus, quae nihil asperiores laudantium dolor libero nobis ipsum velit odio aperiam, error corporis quis dolore tenetur molestiae a.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod minus vitae doloribus voluptatibus at reiciendis modi aperiam eum placeat corporis hic possimus obcaecati ducimus, consequatur quis qui molestias ab perferendis?
            .col-md-6
                img(src="/Materiales/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Diciembre de 2023 - 28 de Diciembre de 2023
                        p.precio $2,500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales