extends  ./layout/index 

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="Materiales/img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius laboriosam magni ab assumenda exercitationem, eligendi eum, dolorem, minima nesciunt quidem perferendis. Veniam placeat labore rerum. Doloremque amet iusto molestias tempore?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius laboriosam magni ab assumenda exercitationem, eligendi eum, dolorem, minima nesciunt quidem perferendis. Veniam placeat labore rerum. Doloremque amet iusto molestias tempore?
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius laboriosam magni ab assumenda exercitationem, eligendi eum, dolorem, minima nesciunt quidem perferendis. Veniam placeat labore rerum. Doloremque amet iusto molestias tempore?
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="Materiales/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .col-md-4
                    img(src="Materiales/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .col-md-4
                    img(src="Materiales/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.